.nav-item:hover .nav-link::before,
.nav-item:hover .nav-link {
    background: linear-gradient(170deg, #8dc71d, #0d5b10);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a>button:hover {
    transform: scale(1.1) translateY(-5px);
    letter-spacing: 0.5px
}

.text>button:hover {
    transform: scale(1.1) translateY(-5px);
    letter-spacing: 0.5px
}

.need>button:hover {
    transform: scale(1.1) translateY(-5px);
    letter-spacing: 0.5px
}

#submit:hover {
    transform: scale(1.1) translateY(-5px);
    letter-spacing: 0.5px;
}

.ser-card-overlay:hover {
    transform: translateY(10px);
}

.ser-card-overlay>p:hover {
    color: var(--text);
}

.service-card:hover {
    background: radial-gradient(circle at top left, #2c2f32, #171c22);
    /* transform: translateY(-100px); */
}

.cot-icon i:hover{
border: 1.5px solid var(--acent);
}

.f-image>img:hover{
    border: 3px solid var(--red);
}

.fficon:hover{
    width: 170px !important;
}