@media screen and (max-width:1200px) {

    /*  -----------------------------------------------hero section-------------------------------- */
    .hero-sec {
        width: 90%;
        height: 480px;
    }

    .tags>h1 {
        font-size: 30px;
    }

    .tags>p {
        margin: 0%;
        margin-bottom: 1%;
    }

    #typing-text {
        font-size: 30px;
        margin-bottom: 5px;
    }

    .tags>.about-p {
        width: 400px;
        margin-bottom: 20px;
    }

    /* .tags>button {
        width: 150px;
        height: 40px;
        font-size: 15px;
    } */

    .bigcircle {
        top: 50%;
        left: 70%;
    }

    .bigcircle>img {
        position: absolute;
        width: 300px;
        height: 450px;
        bottom: -200px;
        right: -150px;
    }

    .flex-card {
        width: 45%;
    }

    .special-one>h2 {
        font-size: 40px;
        padding-left: 20px;
    }

    .special-one>p {
        padding-left: 20px;
    }

    .about-sec>.img {
        height: 650px;
        /* margin-left: 45px; */
    }

    .about-sec>.img {
        width: 50%;
    }

    .about-sec>.text {
        padding-top: 45px;
        /* padding-left: 45px; */
    }

    .text>p {
        margin-bottom: 10px;
    }

    .text>h2 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    .text>.web {
        margin-bottom: 35px;
    }

    .image {
        width: 1%;
        height: 10px;
        top: 45%;
        right: 25%;
        border-radius: 50%;
        box-shadow: 5px 5px 250px 80px snow;
    }

    .image>img {
        width: 270px;
        position: absolute;
        top: -180px;
        right: -170px;
    }

    .cot-main {
        margin-bottom: 10px;
    }

    .cot-p {
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .cot-info>p {
        margin-bottom: 25px;
    }

}

@media screen and (min-width:1400px) {
    #typing-text {
    font-size: 57px;
    }

    .tags>h1 {
    font-size: 57px;
    }
}

/* -------------------------------------1100---------------------------------------------------- */
@media screen and (max-width:1100px) {
    .about-sec>.text {
        padding-top: 0px;
    }

    .service-card {
        flex: 1 1 35%;
    }

    .image {
        width: 1%;
        height: 10px;
        top: 45%;
        right: 15%;
        border-radius: 50%;
        box-shadow: 5px 5px 250px 80px snow;
    }

    .image>img {
        width: 250px;
        /* height: 450px; */
        position: absolute;
        top: -169px;
        right: -130px;
    }

    .cot-main {
        margin-bottom: 5px;
    }

    .cot-p {
        margin-top: 5px;
        margin-bottom: 5px;

    }

    .cot-info>p {
        margin-bottom: 9px;
    }

}

/* -------------------------------------one thousend-------------------------------------------- */

@media screen and (max-width:1000px) {
    .hero-sec {
        height: 850px;
    }

    .bigcircle>img {
        top: -195px;
    }

    .bigcircle {
        top: 70%;
    }

    .about-sec {
        align-items: center;
        flex-direction: column;
    }

    .glow>img {
        width: 350px;
        height: 550px;
        top: -310px;
        right: -160px;
    }

    .text>p {
        margin-bottom: 5px;
    }

    .text>h2 {
        margin-bottom: 5px;
    }

    .text>.web {
        margin: 10px;
        margin-left: 0px;
    }

    .about-sec>.text {
        width: 95%;
    }


    .about-sec>.img {
        width: 95%;
    }

    .services>h2 {
        font-size: 40px;
    }

    .skill-section>h2 {
        font-size: 40px;
    }

    .need>h2 {
        font-size: 40px;
    }

    .image {
        width: 1%;
        height: 10px;
        /* background-color: #ff00009b; */
        position: absolute;
        top: 45%;
        right: 22%;
        border-radius: 50%;
        box-shadow: 5px 5px 250px 80px snow;
    }

    .image>img {
        width: 230px;
        position: absolute;
        top: -138px;
        right: -145px;
    }

    .contact>h2 {
        font-size: 40px;
    }

    .special-one>h2 {
        font-size: 40px;
    }
}

/* ------------------------------------------------------900----------------------------------------- */
@media screen and (max-width:900px) {

    .glow>img {
        margin-top: 100px;
    }

    .text>h2 {
        font-size: 35px;
    }

    .services>h2 {
        font-size: 35px;
    }

    .skill-section>h2 {
        font-size: 35px;
    }

    .need>h2 {
        font-size: 35px;
    }

    .contact>h2 {
        font-size: 35px;
    }
}

/*---------------------------------------------------------850-------------------------------- */
@media screen and (max-width:850px) {

    .hero-overlay {
        padding-left: 50px;
        padding-top: 50px;
    }

    .bigcircle {
        bottom: 4%;
        left: 50% !important;

    }

    .bigcircle>img {
        width: 350px;
        /* bottom: -258px; */
        right: -140px;
    }

    .special-one {
        width: 100%;
        padding: 0%;
    }

    .special-one>h2 {
        font-size: 40px;
    }

    .flex-card {
        width: 100%;

    }

    .about-sec {
        /* display: flex;
        flex-wrap: wrap; */

    }

    .about-sec>.img {
        /* margin-left: 10px; */
    }

    .about-sec>.text {
        /* padding-left: 40px; */
        width: 95%;
    }

    .about-sec>.img {
        width: 95%;
        margin-bottom: 50px;
    }

    .glow>img {
        width: 450px;
        top: -415px;
        right: -200px;
    }

    .text>.web {
        margin-bottom: 50px;
        /* word-spacing: 15px; */
    }

    /* .text>button {
        width: 150px;
        height: 40px;
        font-size: 15px;
    } */

    /* #submit {
        width: 150px;
        height: 40px;
        font-size: 15px;
        margin-top: 20px;
    } */

    /* .need>button {
        width: 200px;
        height: 50px;
        font-size: 15px;
    } */

    .image>img {
    height: 350px;
    top: -130px;
    right: -160px;
    }
}

/* -------------------------------------------800------------------------------------------------- */
@media screen and (max-width:800px) {

    /* .services {
        width: 85%;
    }

    .services>h2 {
        font-size: 40px;
    }

    .skill-section>h2 {
        font-size: 40px;
    }*/

    .image>img {
    height: 300px;
    top: -80px;
    right: -120px;
    }

    .special-one>h2 {
        font-size: 35px;
    }
}

/* --------------------------------------------750-------------------------------------------- */
@media screen and (max-width:750px) {
    footer {
        height: 250px;
    }

    .p22 {
        /* width: 100%; */
        height: 100px;
        gap: 20px;
        margin-top: 0px;
    }

    .support {
        padding-top: 250px;
    }

    .v {
        height: 50%;
    }
}

/* --------------------------------------------700---------------------------------------------- */
@media screen and (max-width:700px) {
    .services {
        width: 85%;
    }

    .service-card {
        flex: 1 1 50%;
    }

    .need {
        height: 800px;
    }

    .image {
        width: 1%;
        height: 10px;
        /* background-color: #ff00009b; */
        position: absolute;
        top: 59%;
        right: 45%;
        border-radius: 50%;
        box-shadow: 5px 5px 250px 80px snow;
    }

    .image>img {
        width: 400px;
        height: 500px;
        top: -150px;
        right: -160px;
    }

    .contact {
        width: 85%;
        padding-bottom: 70px;
    }

    .cot-two {
        /* width: 100%; */
        /* height: 1000px; */
        flex-direction: column;
    }

    .cot-hello {
        width: 100%;
    }

    .cot-info {
        width: 100%;
        padding-left: 40px;
        padding-top: 40px;
    }

    .cot-icons>.fficon {
        margin-top: 35px;
    }

    footer {
        flex-grow: 1 0 1;
    }
}


/* --------------------------------------------650---------------------------------------------- */

@media screen and (max-width:650px) {
    .about-sec {
        /* margin-left: 60px; */
        /* height: 1400px; */
    }
}

/* ------------------------------------------600------------------------------------------------- */
@media screen and (max-width:600px) {
    .hero-sec {
        height: 950px;
    }

    .hero-overlay {
        padding: 15% 10%;
    }

    .bigcircle {
        top: 73%;
        left: 45%;
    }

    /* .image>img {
    width: 300px;
    height: 400px;
    top: -70px;
    right: -120px;
    } */

    .about-p {
        width: auto !important;
    }

    .navbar {
        padding: 0% !important;
    }

}

/* -------------------------------550----------------------------------------------------------- */
@media screen and (max-width:550px) {
    .about-sec {
        /* margin-left: 60px; */
        /* height: 1400px; */
    }

    .text>.web {
        margin-bottom: 20px;
    }

    .about-sec>.text {
        padding-top: 20px;
        padding-left: 20px;
    }

    .about-sec>.img {
        /* width: 50%; */
    }

    .about-sec>.text {
        padding-top: 45px;
        /* padding-left: 45px; */
    }

    .text>p {
        margin-bottom: 10px;
    }

    .special-one>h2 {
        font-size: 30px;
    }

    .text>h2 {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .services>h2 {
        font-size: 30px;
    }

    .need>h2 {
        font-size: 30px;
    }

        .image>img {
            width: 300px;
            height: 400px;
            top: -70px;
            right: -120px;
        }

    .skill-section>h2 {
        font-size: 30px;
    }

    .text>.web {
        margin-bottom: 35px;
    }

    .text>button {
        margin-top: 20px;
    }

    footer {
        height: 250px;
    }

    /* .v {
        height: 70%;
        background-color: #878e99;
        text-align: center;
    } */

    .support {
        padding-top: 300px;
    }
}


/* ---------------------------------500------------------------------------------------------ */
@media screen and (max-width:500px) {

    .glow>img {
        width: 280px;
        top: -415px;
        right: -130px;
    }

    .about-sec>.img {
        margin-left: 0px;
    }

    .text>.web {
        margin-bottom: 10px;
    }

    .about-sec>.text {
        padding-left: 5px;
    }

    .special-card {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .special-card>h4,
    .special-card p {
        text-align: center;
        margin: 0px;
    }

    .skill-logo {
        width: 40px;
        height: 40px;
    }

    .progress-bar {
        height: 15px;
    }

    .image {
        /* width: 1%; */
        height: 10px;
        position: absolute;
        top: 69%;
        right: 50%;
        border-radius: 50%;
        /* box-shadow: 5px 5px 250px 80px snow; */
    }

    /* .image>img {
        width: 300px;
        top: -200px;
        right: -160px;
    } */

    .image>img {
    width: 300px;
    height: 400px;
    top: -150px;
    right: -140px;
    }

}

/* ------------------------------------450------------------------------------------ */
@media screen and (max-width:450px) {

    .about-sec {
        /* height: 1500px; */
    }

    .about-sec>.text {
        padding-top: 10px;
        width: 320px;
    }

    .about-sec>.img {
        width: 98%;
        border-width: 20px;
    }

    .glow>img {
        right: -110px;
        top: -406px;
    }

    .text>.web {
        margin-bottom: 15px;
    }

}

/* -------------------------------400---------------------------------------- */
@media screen and (max-width:400px) {

    .hero-overlay {
        padding-left: 40px;
        padding-top: 50px;
    }

    .tags>p {
        font-size: 12px;
    }

    .tags>h1 {
        font-size: 22px;
    }

    h1>span {
        font-size: 22px;
    }

    #typing-text {
        font-size: 22px;
    }


    .special-one>h2 {
        font-size: 30px;
    }

    .special-card>h4 {
        font-size: 15px;
        width: 100%;
    }

    .special-card>p {
        line-height: 20px;
    }
}

/* -------------------------------300------------------------------------------- */
@media screen and (max-width:300px) {
    .about-sec>.text {}
}